{%load static %}
{%load custom_tags%}
<html>
<meta name='viewport' content='width=device-width initial-scale=1'>
<head>
<link rel='stylesheet' href="{%static 'css/bootstrap/bootstrap.min.css'%}" >
<link rel='stylesheet' href="{%static 'css/acss/acss.css'%}" >
<link rel='stylesheet' href="{%static 'css/fontawesome_5/css/all.min.css'%}" >
<script src="{%static 'js/react.production.min.js'%}"></script>
<script src="{%static 'js/react-dom.production.min.js'%}"></script>
<script src="{%static 'js/babel.min.js'%}"></script>
<script src="{%static 'js/htmx.min.js'%}"></script>
<script src="{%static 'js/jquery.min.js'%}"></script>
</head>
<style>
:root{
--primary-color: #1DA1F2;
--secondary-color:#07294D
}
{#1DA1F2}


.sall{
display:inline-block;
height:25px;
width:25px;
border-radius:200px;
border:2px solid white;
}

p-bg-color{
background:color:#1DA1F2 !important
}

.dropown{
    display: none;
}

.show{
display:block !important
}

</style>

{%if user.profile.mode == 'black'%}
    <link rel='stylesheet' href='{%static 'css/dark.css'%}' >
  
{%endif%}

<body class='display-md-none'>

{%block header%}

{%if user.is_anonymous%}
<header class='row center p-2 m-2' style=''>
    <div class='col-12 sz-24 my-2'><i class='fab fa-twitter rounded border color-bg-p color-white p-2'></i></div>
    <div class='col-6'><a href="{%url 'account_login'%}" class='btn btn-danger btn-block'>Log In </a></div>
    <div class='col-6'><a href="{%url 'account_signup'%}" class='btn btn-block color-bg-p color-white' style=''>Sign Up</a></div>
</header>
{%endif%}


<nav class='navbar sticky-top' style=''>

<a href="{%url 'TweetUrl'%}" class='navbar-brand' ><i class='fas fa-home'></i> <span class='hide hideI'>Home </span> </a> 
<a href="{%url 'TrendUrl'%}" class='navbar-brand'><i class='fas fa-search'></i> <span class='hide hideI'>Explore </span> </a>
<a href="{%url 'NotificationUrl' %}"  class='navbar-brand' ><i class='fas fa-bell'></i>{%if request.user.notifications.unread.count%}<span hx-get="{%url 'NotificationUrl' %}" hx-trigger='once' class='rounded-circle' style='font-size:11px;width:;padding: 1px;15px;height:20px;width: 20px;text-align:center;margin-left:-7;margin-to: 7px;px;background-color:#ff00ff;color:white'>{{request.user.notifications.unread.count}}</span>

{%endif%}
<span class='hide hideI'>Notification </span>
</a>

<a href="{%url 'chat' %}" class='navbar-brand'><i class='fas fa-envelope'></i> <span class='hide hideI'>Chat </span> </a>
<a class='navbar-brand'>{%if request.user.is_authenticated%}<img loading='lazy' src="{{request.user.profile.profile_photo.url}}" class='container p-0 rounded-circle' style="width:30px;height:30px" onclick='show()'> {%else%} <i class='fas fa-bars color-p' onclick='show()'></i> {%endif%}<span class='hide pcolor hideI'>Profile </span> </a>
</nav>


{%endblock%}


<div class='container-fluid'>
<div class='row'>
<div class='col-sm-12 col-md-3 display-sm-none'>
{%block sidebar%}

{%include 'dropdown.html' %}

{%endblock%}
</div>

<div class='col-md-6 col-sm-12'>
{%block content%}

{%endblock content%}
</div>

<div class='col-md-3 col-sm-12'>
{%block other%}
This is other page
{%endblock%}
</div>


</div>
</div>

{%block bottom%}
<div class='bottom-side bottomD' style='font-size:24px;box-shadow:none;padding:15px;color:white' >
<a href="{%url 'CreateUrl'%}" class='normal white '>
<i class='fas fa-pen'></i>
</a>
</div>
{%endblock%}

</body>
<script>


function show(){
$('#dropdown').toggleClass('show')
}

</script>
</html>