{%load static %}
{%load custom_tags%}
<html>
    <meta content="width=device-width initial-scale=1" name="viewport"/>
    <head>
        <link href="{%static 'css/bootstrap5/css/bootstrap.min.css'%}" rel="stylesheet"/>
        <link href="{%static 'css/acss/acss.css'%}" rel="stylesheet"/>
        <link href="{%static 'css/fontawesome_5/css/all.min.css'%}" rel="stylesheet"/>
        <script src="{%static 'js/react.production.min.js'%}">
        </script>
        <script src="{%static 'js/react-dom.production.min.js'%}">
        </script>
        <script src="{%static 'js/babel.min.js'%}">
        </script>
        <script src="{%static 'js/htmx.min.js'%}">
        </script>
        <script src="{%static 'js/jquery.min.js'%}">
        </script>
    </head>
    <style>
        :root{
--primary-color: #1DA1F2;
--secondary-color:#07294D;color;
--tertiary-color:gray;
}
{#1DA1F2}


.sall{
display:inline-block;
height:25px;
width:25px;
border-radius:200px;
border:2px solid white;
}

p-bg-color{
background:color:#1DA1F2 !important
}

.dropown{
    display: none;
}

.show{
display:block !important
}

a{
    text-decoration: none;
}
    </style>
    {%if user.profile.mode == 'black'%}
    <link css="" dark.css'%}'="" href="{%static " rel="stylesheet"/>
    {%endif%}
    <body class="display-d-none font-lato">
        {%block header%}
        <header class="row center p-2 align-items-center display-md-none fixed-top" style="background-color: rgba(250, 250, 250, 0.8);">

               <div class="col-2" style="">
                {%if request.user.is_authenticated%}
                <img class="container p-0 rounded-circle" loading="lazy" onclick="show()" src="{{request.user.profile.profile_photo.url}}" style="width:30px;height:30px">
                    {%else%}
                    <i class="fas fa-bars color-p" onclick="show()">
                    </i>
                    {%endif%}
                    <span class="hide pcolor hideI">
                        Profile
                    </span>
                </img>
            </a>
        </div>
            <div class="col">
                <i class="fab fa-twitter sz-24">
                </i>
            </div>
        </header>
        {%endblock%}
        <br />
        {%block navbar%}
        <nav class="navbar display-md-none fixed-bottom justify-content-evenly border-top color-bg-white" style="">
            <a class="navbar-brand" href="{%url 'TweetUrl'%}">
                <i class="fas fa-home">
                </i>
                <span class="display-sm-none">
                    Home
                </span>
            </a>
            <a class="navbar-brand" href="{%url 'TrendUrl'%}">
                <i class="fas fa-search">
                </i>
                <span class="display-sm-none">
                    Explore
                </span>
            </a>
            <a class="navbar-brand" href="{%url 'NotificationUrl' %}">
                <i class="far fa-bell">
                </i>
                {%if request.user.notifications.unread.count%}
                 <span class="rounded-circle sz-sm color-bg-p color-white center" hx-get="{%url 'NotificationUrl' %}" style="width:15px;height:15px;font-size:10px;display:inline-block;margin-left:-10px" hx-trigger="once">{{request.user.notifications.unread.count}} </span>

                {%endif%}
                <span class="display-sm-none">
                    Notification
                </span>
            </a>
            <a class="navbar-brand" href="{%url 'chat' %}">
                <i class="far fa-envelope">
                </i>
                <span class="display-sm-none">
                    Chat
                </span>
            </a>
         
        </nav>
        {%endblock%}

        <div class="container p-2">
            <div class="row">
                <div class="col-sm-12 col-md-2 ">
                    {%block sidebar%}

{%include 'dropdown.html' %}

{%endblock%}
                </div>
                <div class="col-md-6 col-sm-12 p-3">
                    {%block content%}

{%endblock content%}
                </div>
                <div class="col-md col-sm-12 display-sm-none">
                    {%block other%}
                    <div class="position-fixed h-100" style="overflow:auto;">
                    <div class="row">
                            <div class="col">
                                <input type="search" class="form-control" placeholder="search" />
                            </div>
                        </div>
                        <br />
                    <div class="p-2 border rounded" hx-get="{%url 'TrendUrl' %}" hx-swap="beforeend" hx-trigger="load" style="">
                        
                        <div class="row">
                            <div class="col sz-20 bold">
                                Trends for you
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
{%endblock%}
                </div>
            </div>
        </div>
        {%block bottom%}
        <div class="fixed-bottom justify-content-end d-flex p-2" style="font-size:24px;box-shadow:none;color:white;z-index:10000;bottom:70px">
            <a class="p-3 color-bg-p color-white rounded-circle m-2" href="{%url 'CreateUrl'%}">
                <i class="fas fa-feather">
                </i>
            </a>
        </div>
        {%endblock%}
    </body>
    <script>
        function show(){
$('#dropdown').toggleClass('display-sm-none')
}
    </script>
</html>