<div id="dropdown" class="sz-14 position-fixed" style="">
    {%if ser.is_authenticated%}


    <img class='img-fluid p-0 rounded-circle' style='width:35px;height:35px;object-fit:cover' src={{request.user.profile.profile_photo}}  /> 
        {{request.user}}
        <div class=''> <a class="col sz-12 color-black" href="{%url 'FollowerListUrl' request.user.profile.id%}" ><span class='sz-12 color-t' style=''>{{request.user.profile.follower.count}}</span> Followers </a><a href="{%url 'FollowListUrl' request.user.profile.id%}" class="col color-black sz-12"><span class='sz-12 color-t' style=''>{{request.user.profile.follow.count}}</span> Following  </a> </div>
    
        {%endif%}

        <div class="row">
            <div class="col sz-20 bold hide"> Hello {{request.user|title}}</div>
        </div>

        <div class="row my-3 p-2 display-sm-none">
                <a class="navbar-brand" href="{%url 'TweetUrl'%}">
                    <i class="fas fa-home"></i>
                <span class="">
                    Home
                </span>
            
            </a>
        </div>

        <div class="row my-3 p-2 display-sm-none">
            <a class="navbar-brand" href="{%url 'TrendUrl'%}">
                <i class="fas fa-search">
                </i>
                <span class="">
                    Explore
                </span>
            </a>
        </div>
        <div class="row my-3 p-2 display-sm-none">
            <a class="navbar-brand" href="{%url 'NotificationUrl' %}">
                <i class="fas fa-bell">
                </i>
                {%if request.user.notifications.unread.count%}
               <span class="rounded-circle sz-sm color-bg-p color-white center" hx-get="{%url 'NotificationUrl' %}" style="width:15px;height:15px;font-size:10px;display:inline-block;margin-left:-10px" hx-trigger="once">{{request.user.notifications.unread.count}} </span> 
               {%endif%}
                <span class="">
                    Notification
                </span>
            </a>
        </div>
        <div class="row my-3 p-2 display-sm-none">
            <a class="navbar-brand" href="{%url 'chat' %}">
                <i class="fas fa-envelope">
                </i>
                <span class="">
                    Chat
                </span>
            </a>
        </div>


                <div class="row my-3 p-2">
                    <a href='{{request.user.profile.get_absolute_url}}' class='navbar-brand'>
                        <i class='fas fa-user'></i>
    
                        Profile
                    </a>
                </div>
            
                <div class='row my-3 p-2 hide'>
                    <a href="{%url 'SaveUrl' %}" class='navbar-brand'>
                        
                        <i class='fas fa-box pcolor'></i>
                        Saved Tweets
                        
                    </a>
                </div>
            
                <div class='row m-2 py-2 hide'>
                    <a href='' class='navbar-brand'>
                        
                        <i class='fas fa-user pcolor'></i>
                        Settings
                        
                    </a>
                </div>
            
                <div class='row m-2 py-2 hide'>
                    <a href='' class='navbar-brand'>
                        
                        <i class='fas fa-question pcolor'></i>
                        Help
                        
                    </a>
                </div>
            
                <div class='row m-2 py-2 hide'>
                <form method='GET' action="{%url 'ModeUrl' %}">
                    <button class='btn color-bg-white color-black p-0'  name='dark' value='{{request.path_info}}'>
                        
                        <i class='fas fa-moon pcolor'></i>
                        Mode
                        
                    </button>
                 </form>
                 
                </div>
            
    
            {%if user.is_authenticated%}
            
                <div class="row my-3 p-2">
                    <a href="{%url 'account_logout'  %}" class='navbar-brand'>
                        
                        <i class='fas fa-door-open pcolor'></i>
                        Log-Out
                        
                    </a>
                
                </div>
            
          {%endif%}
        
    </div>
 
