<div id="dropdown" class="animate__animated animate__slideInDown overflow-auto color-bg-white color-bg-dark-light m-0 p-3 p-md-1 rounded sz-16 position-fixed bold" style="overlow:auto">
    {%if user.is_authenticated%}
    <img class='img rounded' style='width:70px;height:70px;magin-top:-10px' src={{request.user.profile.profile_photo.url}}  /> 
        <div class=''> <a href="{%url 'FollowerListUrl' request.user.profile.id%}" ><span class=' mesize passive' style='padding:3px'>{{request.user.profile.follower.count}}</span> Followers </a> | <a href="{%url 'FollowListUrl' request.user.profile.id%}" ><span class=' mesize passive' style='padding:3px'>{{request.user.profile.follow.count}}</span> Following  </a> </div>
        {%endif%}

                <div class="row m-2 py-2">
                    <a href='{{request.user.profile.get_absolute_url}}' class=''>
                        <i class='fas fa-user'></i>
    
                        Profile
                    </a>
                </div>
            
                <div class='row m-2 py-2'>
                    <a href="{%url 'SaveUrl' %}" class=''>
                        
                        <i class='fas fa-box pcolor'></i>
                        Saved Tweets
                        
                    </a>
                </div>
            
                <div class='row m-2 py-2'>
                    <a href='' class=''>
                        
                        <i class='fas fa-user pcolor'></i>
                        Settings
                        
                    </a>
                </div>
            
                <div class='row m-2 py-2'>
                    <a href='' class=''>
                        
                        <i class='fas fa-question pcolor'></i>
                        Help
                        
                    </a>
                </div>
            
                <div class='row m-2 py-2'>
                <form method='GET' action="{%url 'ModeUrl' %}">
                    <button class='btn-link no-border color-bg-black color-white rounded' type='radio' name='dark' value='{{request.path_info}}'>
                        
                        <i class='fas fa-moon pcolor'></i>
                        Mode
                        
                    </button>
                 </form>
                 
                </div>
            
    
            {%if user.is_authenticated%}
            
                <div>
                    <a href="{%url 'account_logout'  %}" class=''>
                        
                        <i class='fas fa-door-open pcolor'></i>
                        Log-Out
                        
                    </a>
                
                </div>
            
          {%endif%}
        
    </div>
 
