<p class='center' id='{{profile.id}}cc'>
{%if User in profile.follower.all%}
<button class='normal box' disabled style='background-color:#C0C0C0;color:white;width:3.5cm;padding:5px;font-size:20px'>
Follow
</button>

<button class='normal box' style='background-color:red;color:white;width:3.5cm;padding:5px;font-size:20px' hx-get="{%url 'FollowUrl' profile.id %}" hx-swap='outerHTML' hx-target='#{{profile.id}}cc'>
UnFollow
</button>

{%else%}
<button class='normal box' style='background-color:red;color:white;width:3.5cm;padding:5px;font-size:20px' hx-get="{%url 'FollowUrl' profile.id %}" hx-swap='outerHTML' hx-target='#{{profile.id}}cc'>
Follow
</button>

<button class='normal box' disabled style='background-color:#C0C0C0;color:white;width:3.5cm;padding:5px;font-size:20px'>
UnFollow
</button>
{%endif%}
</p>