<br>
<div class='center' style=''>
	<h2 class='pcolor' style='widh:100%;pading-right:30px'> Connect with People </h2>
	<br>
	<p>
<div class='row' style=''>
{%for profile in people%}
<div class='col p-2 border rounded m-2' style='widt:100%'>
	<a href="{{profile.profile.get_absolute_url}}" >
		<img class='img-fluid rounded-circle' style='height:40px;width:40px' loading='lazy' src='{{profile.profile.profile_photo.url}}'  >
	
	<div class='sz-14'>{{profile.username}}</div>
	</a>
	
	{%include 'tweetTemplate/follow.html' %}
    
</div>

{%endfor%}
</div>
</p>
</div>
