{%extends 'base.html'%}
{% load socialaccount %}

{%block sidebar%}
{%endblock%}
{%block header%}

{%endblock%}
{%block other%}

{%endblock%}
{%block navbar%}
{%endblock%}
{%block bottom%}
{%endblock%}
{%block content%}
<div class="justify-content-centre container">

<br class="display-md-none" style="line-height:20px;">
<div class="row">
	<div class="col sz-36">
		<i class="fab fa-twitter color-p" ></i>
	</div>
</div>
<br />
<div class="row">
	<div class="col sz-36 bold color-p">
		Happening <br/> Now
	</div>
</div>

<br />
<div class="row my-2">
	<div class="col sz-24 bold">
		Join today
	</div>
</div>

<div class="row m-2 mb-3">
	<div class='col border rounded center btn'>
		<a href="{% provider_login_url 'google' %}" class="sz-18 color-black"><span class="text-danger"><i class="fab fa-google"></i></span> Sign up with Google </a>
	</div>
</div>

<div class="row m-2 hide">
	<div class='col col border rounded h-100 center btn'>
		<a href="{% provider_login_url 'twitter' method='oauth2' %}"  class="sz-18 color-black"><span class="color-p"> <i class="fab fa-twitter"></i> </span>Sign up with Twitter </a>
	</div>
</div>
<div class="row">
	<div class="col center">
		or
	</div>
</div>
<div class="row m-2">
	<div class='col rounded h-100 color-bg-p center btn'>
		<a href="{% url 'account_signup'%}" class="color-white sz-18" class="sz-18"> Create Account </a>
	</div>
</div>

<div class="row">
	<div class='col sz-12'>
		By signing up, you agree to the Terms of Service and Privacy Policy, including Cookie Use
	</div>
</div>

<br style="line-height:30px;" />
<div class="row">
	<div class='col bold sz-14 my-2'>
		Already have an account?
	</div>
</div>

<div class="row m-2">
	<div class='col border rounded h-100 center btn'>
		<a href="{% url 'account_login'%}" class="sz-18"> Sign in </a>
	</div>
</div>
</div>
{%endblock%}