
<button hx-get="{%url 'TweetUrl'%}" class='no-border color-bg-white color-t p-0' hx-include='#on{{tweet.id}}' hx-swap='outerHTML' style='' onClick=''>

{%if prof in tweet.like.all%}
<i id='{{tweet.id}}' style='color:red' class='fas fa-heart' data-fa-transform="shrink-8 fa-border"></i>
{%else%}
<i id='{{tweet.id}}' class='far fa-heart' data-fa-transform="shrink-8 fa-border"></i>
{%endif%}

 {{tweet.like.count}} 
<span class='htmx-indicator' style='display:inline-block; position:absolute;margin-left:-25px'><i class='fas fa-heart' style='color:#ff00ff;font-size:25px'></i>+1</span> 



</button>




