{%extends 'base.html'%}
{% load notifications_tags %}
{%block content%}
<div class='color-bg-white p-3 rounded' style=''>
<br>
<div class='sz-18 bold'>
Notifications
</div>

{% if user.notifications.unread %}
<p class='subject'>Unread</p>
{%for notification in user.notifications.unread%}



<p class="color-t"> <div class='color-black'>{{notification.actor}} {{notification.verb}}</div>
<p><div class='sz-12 color-t'> on {{notification.timestamp}}</div></p>
</hr></p>

{%endfor%}
{%endif%}
<hr>
{%for notification in user.notifications.read%}
{% if notification.actor != request.user %}

{%endif%}
<a class='sz-14 color-black' {%if notification.description%}href={{notification.description|safe}}{%endif%}>{{notification.actor}} {{notification.verb}}</a>
<div class='sz-12 color-t'> on {{notification.timestamp}}</div>

<hr>
{%endfor%}
</div>
{%endblock%}
