{%extends 'base.html'%}
{%load static%}

{%block heder%}
{{profile.user|title}}Profile
{%endblock%}

{%block content%}
<style>
.allimage img{

width:100%;
}

</style>
<div class='sz-14'>
{%if profile.cover_photo%}
<div class='' style='heiht:50%;boder:none' ><img class="container w-100" style="height:180px;object-fit:cover" src='{{profile.cover_photo.url}}'>
</div>
{%else%}
<div class='w-100 color-bg-p' style="height:150px;background-color:siver;">
</div>
{%endif%}
<div class='box' style='border:none'>
<img class='container p-0 rounded-circle' style='margin-top:-20px;width:70px;height:70px;object-fit:cover' src={{profile.profile_photo.url}}  /> 

<div class='sz-24 bold'>{{profile.user.username|title}}</div>
<div class='mesize color-t'>@{{profile.user.username|title}}</div>


<div class='mesize passie'>{{profile.bio}}</div>
<div class='desize color-t'>Joined {{profile.date_joined}}</div>
<div> <a href="{%url 'FollowerListUrl' profile.id %}" ><span class=' mesize passive'>{{profile.follower.count}} </span> Followers </a> | <a href="{%url 'FollowListUrl' profile.id %}" > <span class=' mesize passive'>{{profile.follow.count}}</span> Following  </a></div>

</div>

</div>
<br />
{%if profile.user == request.user %}
<a class='normal' href="{%url 'EditProfUrl'%}"><div class='lft ox bold center' style='color:#1DA1F2;coor:white;dispay:inline-block'>Edit Profile</div></a>
{%else%}
{%include 'tweetTemplate/follow.html' %}
{%endif%}
<hr>
<p class='insize box-border center sticky-top' style='z-index: 4;border:none;box-shadow:none' >Tweets</p>


{%include 'tweetTemplate/tweetbox.html'%}



{%endblock%}