{%extends 'base.html'%}

{%block content%}
<div class='box' style="padding:2px">
<form method='get' action="{%url 'SearchUrl' %}" >
<div class='center'>
<input type='search' class='form-control' placeholder='Search' name='search' style='height:1cm;margi:15px;width:100%;border:2px solid #1DA1F2'>
</div>
</form>

<div class='my-2' styl='border:none;height:100%;padding-top:2px'>
<p><div class='sz-20 color-p bold' stye='bacground-color:black;color:black;border:none'>Trending</div> 
<div class='sz-12 black'> Find out the most talk about words today </div>
<br />
{%include 'tweetTemplate/trendbox.html'%}


<div class='box bcolor borer bolor ' id='connect' hx-get="{%url 'FriendUrl'%}" hx-swap='innerHTML' hx-trigger='load' style="">

<div class='circle rotate htmx-indicator' style='display:inline-block;border:3px solid #1DA1F2; border-left:4px solid #DEF1FD;position:absolute;padding:0px;'>
</div>
</div>
</div>
</div>
{%endblock%}