{%extends 'base.html'%}
{%load custom_tags%}
{%block header%}
Post
{%endblock%}

{%block content%}
<style>
body{
backgrond-color:white;
}

.allima img{
object-fit:contain;
border:2px solid #C0C0C0;
height:350px;
width:250px;
text-algn:center;
justify-content:center;
align-items:center;
background-color:none;
filter:blur(0px);
border:none;
}
</style>



<div class='border p-2 rounded my-2' style=''>
{%comment%}
{%if tweet.comment%}
<p class='desize bold passive'><i class='fas fa-comment'></i> Reply to {{tweet.comment.profile|title}} <a class='normal' style='color:#1DA1F2' href='{{tweet.comment.get_absolute_url}}'>Tweet</a></p>
{%endif%}

{%if tweet.retweet.all %}
<p class='' style='flat:right'>
<i class='fas fa-retweet'></i> <span class='passive desize'> {{tweet.retweet.user.username|title}} Retweet </span> 
</p>
{%endif%}
{%endcomment%}


<div class='row align-items-center' style=''>
<div class="col-2 col-md-1 p-2">

<a href="{{tweet.profile.get_absolute_url}}" >
<img class='container rounded-circle m-0 p-0' style='width:40px;height:40px;object-fit:cover' loading='lazy' src={{tweet.profile.profile_photo.url}}  />
</a>

</div>
<div class="col">
	{{tweet.profile}} <br/>
	<span class="sz-12 color-t">/{{tweet.profile.user.username|lower}}</span>
</div>

<div class="col">
	{%include 'tweetTemplate/follow.html' with profile=tweet.profile User=prof %}
</div>

</div>





<p class='body sz=16' styl='line-height:30px;font-size:20px'>{{tweet.body}}</p>


<p>
{%if tweet.image.all%}
{%if tweet.image.all%}
          
            <div class="my-2 px-2 d-flex justify-content-evenly center" style="hight:250px;overflow:auto">
              {%for img in tweet.image.all%}
                <div class="col-10 col-md m-1">
                  <img class="img-fluid p-0 -00 rounded border" src="{{img.image.url}}" style="height:300px;object-fit:contain;object-position: top;"/>
                </div>                 
              {%endfor%}
            </div>
          {%endif%}

{%elif tweet.file.all%}

          <div class="d-flex" style="overflow:scroll;">
            {%for file in tweet.file.all %}
                <video class="container p-0 rounded m-1 " style="height:250px;object-fit:cover id="vid" autoplay muted controls>
                  <source src="{{file.file.url}}" />
                </video>
            {%endfor%}
                    </div>
           


{%endif%}
</p>

{%if tweet.image.count > 1 %}
<div class='passive desize' style='font-size:12px' >{{tweet.image.count}} images</div>
{%endif%}

<input id='on{{tweet.id}}' type='hidden' value={{tweet.id}} name='like' type='hiddn' >

<div class='user mesiz color-t sz-12'>

</div>

<div class="row sz-16 align-items-center color-t p-1">
            <div class="col">
                <a href="{{tweet.get_absolute_url}}?#holder">
                    <button class="btn no-border color-t color-bg-white">
                        <i class="far fa-comment">
                        </i>
                        {{tweet.tweet.count}}
                    </button>
                </a>
            </div>
            <div class="col">
                {%include 'tweetTemplate/like.html'%}
            </div>
            <div class="col">
                {%include 'tweetTemplate/retweet.html'%}
            </div>
            <div class="col hide">
              <button class="no-border btn color-t color-bg-white sz-12">
              </button>
            </div>
            <div class="col hide">
                <button class="no-border btn color-t color-bg-white sz-12">
                    <i class="fas fa-share" style=""> 
                    </i>
                </button>
            </div>
            <div class="col" style='' >
                 <i class="fas fa-eye"></i> {{tweet.views}}
            </div>

       </div>


</div>



<br>

<div class='' style='padding:5px'><a class='norml' href='#hell'><input name='body' id='holder' class='form-control' onclick="$('#hell').addClass('show');$('#holder').addClass('hide')" stye='border: none;border-bottom: 2px solid var(--primary-color);width:100%;bottom:10px;height:1cm;box-shadow:none;' placeholder='Post your Reply'></a>
</div>

<div id='hell' class='hide'>
{%include 'tweetTemplate/create.html'%}
</div>

{%include 'tweetTemplate/tweetbox.html' with tweets=tweet.tweet.all %}






{%block bottom %}

{%endblock%}


{%endblock%}




{%csrf_token%}
<input type='hidden' name='detail' value='{{tweet.id}}' >
<div ><input name='body' class='bottom-line' style='width:100%;bottom:10px;height:1cm;box-shadow:none;border:none' placeholder='Reply'>
</div>
</form>