{%extends 'base.html'%}
{%load static%}
{%load custom_tags%}

{%block content%}
<style>

</style>
<div id='body' class='' style=''>
{%if user.is_authenticated%}
<p class='center' style=''>
<a class='normal' href="{%url 'LatestTweetUrl' 'latest'%}"><button class='button border Btn-width' style='background-color:{{latest}};color:{{home}}'><i class='fas fa-switch'></i> Latest Tweets </button> </a>
<a class='normal' href="{%url 'HomeTweetUrl' 'latest'%}">
<button class='button border Btn-width' style='background-color:{{home}};color:{{latest}}'><i class='fas fa-switch'></i> Home </button> </a>

</p>
{%endif%}

{%if blank%}
<div class='box boxD' style='font-size:24px'> OOps!!! , it seems your exposure is low Connect with people or click to explore trends <a href="{%url 'TrendUrl'%}"> Explore </a>  </div>


<div class='box bcolor borer bolor ' id='connect' hx-get="{%url 'FriendUrl'%}" hx-swap='innerHTML' hx-trigger='load' style="">

<div class='circle rotate htmx-indicator' style='display:inline-block;border:3px solid #1DA1F2; border-left:4px solid #DEF1FD;position:absolute;padding:0px;'>
</div>
</div>
{%endif%}

{%include 'tweetTemplate/tweetbox.html'%}



</div>

{%endblock%}

<br>
<p class='center'><button class='button border'><i class='fas fa-switch'></i> Switch to Latest Tweets </button> 
<button class='button border pcolor' style='background-color:white'><i class='fas fa-switch'></i> Switch to Home </button> </p>

</p>