{%load custom_tags%}
<div class="" id='tweetTarget'>
<div class="row sz-14 m-1" id="tweetbox" style="z-index: 500;">
  {%for tweet in tweets %}

    <div class="col-md-12 p-2 my-2 border-bottom color-bg-white rounde col-sm " id="twetbox" style="">

              {%if tweet.comment%}
          <div class="row my-2 sz-12 passive" style="">
            <div class="col" style="text-align: right;">
                <i class="far fa-comment sz-14">
                </i>
                Reply to {{tweet.comment.profile|title}}'s
                <a class="" href="{{tweet.comment.get_absolute_url}}" style="">
                    post
                </a>
            </div>
          </div>
        {%endif%}

        {%if tweet.retweet.all %}
          <div class="row m-2 sz-12 color-t" style="">
            <div class="col">
            <i class="fas fa-retweet">
            </i>
                {{tweet.retweet.user|title}} Repost
            
            </div>
          </div>
        {%endif%}


      <div class="row">
        <div class="col-2 col-md-1">
          <a href="{{tweet.profile.get_absolute_url}}">
            <img class="container rounded-circle p-0 m-0" loading="" src="{{tweet.profile.profile_photo.url}}" style="width:35px;height:35px;object-fit:cover"/>
          </a>
        </div>
        <div class="col">
          <div class="row ">
            <div class="col">
              <span class="bold sz-14">
                  {{tweet.profile|title}}
              </span>
              <a href="{{tweet.profile.get_absolute_url}}" >
                  <span class="color-t sz-14" style="">
                      @{{tweet.profile.user.username|lower}}
                  </span>
              </a>
             <br />
              <span class="sz-12 color-t" style="">
                  {{tweet.date|timesince}} ago
              </span>
            </div>

            <div id="optionholder{{tweet.id}}" class="position-absolute p-1 hide">
              </div>

            <div class="col-2 col-md-1 sz-12 hide" hx-get="{%url 'OptionUrl' %}" hx-include="#on{{tweet.id}}" hx-swap="innerHTML" hx-target="#optionholder{{tweet.id}}" style="tet-align:right;float:right">
              <span class="">
                  <i class="fas fa-ellipsis-v passive color-t">
                  </i>
              </span>

            </div>

          </div>
          <p class="sz-16" style="">
              <a class="color-black" href="{{tweet.get_absolute_url}}">
                  {{tweet.body|truncatechars:':280'}}
              </a>
          </p>
          {%if tweet.image.all%}

            <div class="my-2 px-2 d-flex" style="hight:250px;overflow:auto">
              {%for img in tweet.image.all%}
                <div class="col-11 m-1">
                  <img class="img-fluid p-0 w-100 rounded"  loading="lazy" src="{{img.image.url}}" style="height:250px;object-fit:cover;object-position:top;"/>
                </div>
              {%endfor%}
            </div>
          {%endif%}

          {%if tweet.file.all%}
          <div class="d-flex" style="overflow:auto;">
            {%for file in tweet.file.all %}
                <video class="container p-0 rounded m-1" style="height:250px;object-fit:cover id="vid" autoplay muted >
                  <source src="{{file.file.url}}" />
                </video>
            {%endfor%}
          </div>

          {%endif%}

          <input id="on{{tweet.id}}" name="like" type="hidden" value="{{tweet.id}}"/>
          <input id="tt{{tweet.id}}" name="retweet" type="hidden" value="{{tweet.id}}"/>
          <div class="row sz-14 align-items-center my-3">
            <div class="col-md-2 col">
                <a href="{{tweet.get_absolute_url}}?#holder">
                    <button class="btn no-border color-t color-bg-white sz-14 p-0">
                        <i class="far fa-comment">
                        </i>
                        {{tweet.tweet.count}}
                    </button>
                </a>
            </div>
            <div class="col-md-2 col sz-14">
                {%include 'tweetTemplate/like.html'%}
            </div>
            <div class="col-md-2 sz-14 col">
                {%include 'tweetTemplate/retweet.html'%}
            </div>
            <div class="col-md-2 col sz-14">
              <button class="no-border btn color-t sz-14 color-bg-white p-0">
                <i class="fas fa-eye"></i> {{tweet.views}}
              </button>
            </div>
            <div class="col hide">
                <button class="no-border btn color-t color-bg-white sz-12">
                    <i class="fas fa-share-alt" style="">
                    </i>
                </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  {%endfor%}
  </div>
  </div>

        {%if tweets.has_next%}
        <div class="position-absolute justify-content-centr start-50 translate-middle" hx-get="?page={{tweets.next_page_number}}" hx-target='#tweetTarget' hx-swap="beforeend" hx-trigger="revealed">
            <div class="spinner-border htmx-indicator color-p">
            </div>
        </div>
        {%endif%}

        <script type="text/javascript">
            document.body.addEventListener('htmx:configRequest', (e) => {
          e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
          })


function Show(x){
  document.getElementById(`optionholder${x}`).style.display='block'
}
        </script>

