{%load custom_tags%}

<div id ='tweetbox' style='' class='row sz-14'>
  {%for tweet in tweets %} 
    <div class='col-md-12 m-2 p-2 border-bottom' id='twetbox' style=''>
      {%if tweet.comment%}
        <div class='row m-2 sz-12 passive' style=''>
          <div class='col'>
            <i class='far fa-comment sz-16'></i> Reply to {{tweet.comment.profile|title}}'s 
            <a class='' style='' href='{{tweet.comment.get_absolute_url}}'> tweet </a>
          </div>
        </div>
      {%endif%}

      {%if tweet.retweet.all %}
        <div class='row m-2 sz-12 passive' style=''>
          <i class='fas fa-retweet'></i> 
          <span class='color-t'> {{tweet.retweet.user.username|title}} Retweet </span> 
        </div>
      {%endif%}

      <div class='row'>
        <div class='col-2'>
          <a href="{{tweet.profile.get_absolute_url}}" >
            <img class='container rounded-circle p-0' style='width:50px;height:50px;object-fit:cover' loading='' src={{tweet.profile.profile_photo.url}}  >
          </a>
        </div>
        <div class='col'>
          <div class='row'>
            <div class='col'>
              <span class=''>
                {{tweet.profile|title}} <a href="{{tweet.profile.get_absolute_url}}" ><span class='desize pasive pcolor' style=''>/{{tweet.profile.user.username|lower}}</span></a>
              </span>
              <span class='' style=''> {{tweet.date|timesince}}</span>
            </div>

            <div class='col-1' style='text-align:right;float:right' hx-get="{%url 'OptionUrl' %}" hx-swap='innerHTML' hx-target='#optionholder{{tweet.id}}' hx-include='#on{{tweet.id}}'> 
              <span class=''>  <i class='fas fa-ellipsis-v'></i> </span> 
              <span id='optionholder{{tweet.id}}'> </span>
            </div>    
          </div>

          <p class='' style=''>
            <a class='color-black' href='{{tweet.get_absolute_url}}' >
            {{tweet.body|truncatechars:':280'}}
            </a>
          </p>

          {%if tweet.image.all%}
            <div class='row'>
              {%for img in tweet.image.all%}

              {%endfor%}
            </div>
          {%endif%}

          {%if tweet.file.all%}
            {%for file in tweet.file.all|slice:'1' %}
              <div class='center' onclick="$('#vid')[0].play()">
                <video id='vid' class='box border curve' style='height:6cm;width:100%'>
                  <source src='{{file.file.url}}' >
                </video>
              </div>
            {%endfor%}
          {%endif%}

          <input id='on{{tweet.id}}' type='hidden' value={{tweet.id}} name='like' type='hiddn' >
          <input id='tt{{tweet.id}}' type='hidden' value={{tweet.id}} name='retweet' type='hiddn' >

          <div class='row my-2'>
            <div class='col'>
              <a href="{{tweet.get_absolute_url}}?#holder"><button class='no-border btn-link'><i class='far fa-comment' ></i> {{tweet.tweet.count}} </button></a>
            </div>

            <div class='col'>
              {%include 'tweetTemplate/like.html'%}
            </div>
            <div class='col'>

              {%include 'tweetTemplate/retweet.html'%}
            </div>

            <div class='col'>
              <button class='no-border btn-link'><i class='fas fa-share-alt' style=''></i></button> 
            </div>
          </div>
        </div>
      </div>
    </div>
  {%endfor%}
</div>


<script>
        document.body.addEventListener('htmx:configRequest', (e) => {
          e.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
          })


function Show(x){
  document.getElementById(`optionholder${x}`).style.display='block'
}
   
     
</script>

{%if tweets.has_next%}
<div class='cener' style='posiion:absolute;magin-left:50%' hx-get="?page={{tweets.next_page_number}}"  hx-swap='innerHTML' hx-trigger='revealed'>
<div class='circle rotate htmx-indicator' style='position:absolute;margin-left:50%;display:inline-block;border:3px solid #1DA1F2; border-left:4px solid #DEF1FD;position:absolute;padding:0px;'> </div>
</div>
{%endif%}

