
:root{
--black-color:black;
}
{36454}
{36013F}
{34282C}
body{
 backgrund-color:var(--black-color);
 background-color:var(--black-color);
 color:white;}
 {#2B547E}
 
.box{
background-color:var(--black-color);
color:white!important;
}

.box-border{
background-color:var(--black-color);
color:white;
box-shadow:None;
border-color:white;
}

.dropdown {
background-color:var(--black-color);
color:347C17;}

.button{
color:254117;
background-color:var(--black-color);
border:none;}

button.button:focus{
color:white;
background-color:var(--black-color);
border:1px solid black;
}

button.button:active{
color:white;
background-color:var(--black-color);
border:1px solid black;
}

button{
background-color:var(--black-color);
border:None;
}

.hideform{
backgroud-color:var(--black-color);
}

.icon{
color:347C17;
background-color:var(--black-color)}

.form{
background-color:var(--black-color)}

a.new{
background-color:var(--black-color);
color:347C17;
}

button.sticker{
background-color:var(--black-color);
border:none;
color:757575;
}

a.menu{
background-color:var(--black-color);
color:347C17;
}

.bold-black{
color:white;
}

.desize{
background-color:var(--black-color);}

.mesize{
color:white;
background-color:var(--black-color);
}

a.menu{
color:var(--black-color)
}

.reply{
color:white;
}

.button{
color:white
}

.bottom-side{
box-shadow:none;
olor:254117;
backgrund-color:white;}

a.popovers{
b
}

.other{
color:617C58}

button#getid{
color:617C58}

.spe{
color:white;
}

button .sticker{
background-color:var(--black-color)
}

.body{
background-color:var(--black-color);
color:white;
}

.seperate{
background-color:var(--black-color)
}

.header{
heiht:46px;
background-color:var(--black-color);
color:#1DA1F2;
background-color:black;
border-bottom:2px solid black;
color:white;
}

.navbar{
background-color:var(--black-color);
}

.seperate button{
background-color:var(--black-color);

}

.avatar{
border:2px solid var(--black-color)
}

.user{
color:white;
}

.passve{
color:1DA1F2
}

.up{
background-color:#1DA1F2 !important;
color:white !important
}

.pcolor{
coor:white !important
}

.border{
border-bottom:1px solid #d7d7d7 !important;
border:;
border:1px solid #34282C !important;
}

.navbar{
background-color:var(--black-color) !important;
border-bottom:1px solid #34282C !important
}

input{
background-color:var(--black-color);
color:white;
}

textarea{
background-color:var(--black-color);
color:white;
}

.black{
color:white !important
}

.bcolor{
background-color:var(--black-color) !important
}

.blackW{
color:black !important
}