
{%extends 'base.html'%}
{%load static%}
{%load socialaccount%}
{%block sidebar%}
{%endblock%}
{%block header%}

{%endblock%}
{%block other%}

{%endblock%}
{%block navbar%}
{%endblock%}
{%block content%}


<style>
body{
    background-color: white;
}
inut{
    height: 1.1cm;
}
</style>

<div class='' style=''>
    <div class='row rounded p-2 justify-content-center' style=''>
        <div class='col-md-6 col-sm-12 p-3 rounded clor-bg-white'>
            <div class='row'>
                <div class='col'>
                    <h2 style='' class='color-p'>
                        Sign Up
                     </h2>
                </div>
            </div>

            <form method='post'>
                {%csrf_token%}

                            {%if form.errors %}
                            <p class='warning text-danger'>Invalid Username or Password</p>
                            {%endif%}


                    {% for field in form %}
                        {%if field.label == 'Remember Me' %}
                        {%else%}


                             {{field.errors}}
                            <div class='row my-3'>
                                <div class='col sz-14 bold color-s'>
                                    {{field.label}}
                                </div>
                            </div>
                             <div class='row my-3' >
                                <div class='col col-sm'>
                                    {{ field.as_widget }}
                                </div>
                            </div>

                        {%endif%}
                    {% endfor %}
                    
                    <p class='row my-3'>
                        <div class='col col-sm-12'>
                                <button class='btn btn-block color-bg-p color-white sz-18 w-100'>
                                    Sign Up
                                </button>
                        </div>
                    </p>

                    <div class='row my-2'>
                        <div class='col center'>
                            <a class='color-p' href="{% url 'account_reset_password'%}" style=''>
                            Forget Password
                            </a>
                        </div>
                    </div>
            </form>
        </div>
        <div class="w-100"></div>
        <div class='col-md-6 col-sm-12 p-3 rounded clor-bg-white'>

            <div class="row">
                <div class="col">
                    <a href="{% provider_login_url 'google' %}" class='btn border p-2 sz-18 rounded btn-block color-black w-100'>
                        <i class='fab fa-google text-danger'></i> Sign Up with Google
                    </a>
                <div>
            </div>
            <br/>
            <div class='row my-2 center'>
                <div class='col'>
                    If You Already have an account
                </div>
            </div>
            <p class='row my-2 center'>
                <div class='col'>
                    <a class='btn btn-block color-bg-s sz-18 color-white w-100' href="{% url 'account_login'%}" style='baground-color:357417'>
                        Log In
                    </a>
                </div>
            </p>
        </div>
    </div>
</div>

<script>
$(window).on('load',function(){
    $('input').addClass('form-control sz-16')
})

</script>
{%endblock%}

{%block bottom%}
{%endblock%}


