{%extends 'base.html'%}

{%block content%}
<style>
	textarea{
		height: 1cm;
	}

</style>
<div classs='insize box '>{{cha.user.username|title}}</div>
<br>


{%include 'messageTemplate/message.html'%}


<hr>


Write a Message
<form  class='box' id='mes' hx-post='' hx-swap='none' >
{%csrf_token%}
{%for field in form%}
<p>{{field.as_widget}}</p>
{%endfor%}
<button onclick="" class="btn color-bg-p w-100">Send</button>
</form>

<script>
$(window).on('load',function(){
    $('textarea').addClass('form-control')
})

</script>
{%endblock%}


