<div class='' hx-get="{%url 'message' cha.id%}"  hx-trigger="load every 2s" hx-swap='outerHTML' >


{%for msg in chat%}
{% if msg.sender == User %}
<div class="row m-2">
<div  class='col-6 ' style='text-align:left'>
<span  style='display: inline-block;' class='rounded color-bg-p color-white p-2'>{{msg.body}}</span>
</div>
<div class="col">
</div> 
</div>

{%else%}
<div class="row m-2">
<div  class='col-6 ' style='text-align: right;'>
<span  style='' class='color-bg-white border rounded p-2'>{{msg.body}}</span>
</div>
<div class="col order-first">
</div> 
</div>

{%endif%}

{%endfor%}
</div>
