<div class='' hx-get="{%url 'message' cha.id%}"  hx-trigger="load every 2s" hx-swap='outerHTML' >


{%for msg in chat%}
{% if msg.sender == User %}
<div  class='box' style='position:absolute;right:20px;float:right'>
<span  style='display: inline-block;margin: 0px;word-wrap: break-word ;whit-space: normal;' class='box pbcolor white curve'>{{msg.body}}</span>
</div> 
<br>
{%else%}
<p class='box' style=''><span class='box sbcolr blak curve white' style='display: inline-block;background-color: #34282C;borer: 1px solid black;word-wrap: break-word;wite-space: normal;'>{{msg.body}}</span></p>


{%endif%}
<br>
{%endfor%}
</div>
